spring:
  application:
    name: qr-menu-web
  datasource:
    url: ${PG_URL}
    username: ${PG_USERNAME}
    password: ${PG_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 2s
      lettuce:
        pool:
          max-active: 50
          max-idle: 20
          min-idle: 5
  threads:
    virtual:
      enabled: true
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  docker:
    compose:
      enabled: true
  session:
    redis:
      flush-mode: on-save
      namespace: spring:session
    timeout: 1800
  cache:
    type: redis
  servlet:
    multipart:
      max-file-size: 5MB
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  security:
    secret:
      key: ${JWT_SECRET_KEY}
    token:
      access:
        expiration: 900000
      refresh:
        expiration: 604800000

server:
  port: 8080
  ssl:
    enabled: false

s3:
  bucket-name: ${S3_BUCKET_NAME}
  placeholder-thumbnail: ${PLACEHOLDER_THUMBNAIL}

resend:
  api:
    key: ${RESEND_API_KEY}

app:
  base-url: ${BASE_URL}
  frontend-url: ${FRONTEND_URL}
  menu:
    base-domain: ${MENU_BASE_DOMAIN}
    worker-queue: queue:worker
  security:
    reset-token-expiry-minutes: 30
  cookie:
    secure: false
  mail:
    from: "QRMenu <no-reply@menu.furkancavdar.com>"
