spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${PG_URL}
    username: ${PG_USERNAME}
    password: ${PG_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      lettuce:
        pool:
          max-active: 50
          max-idle: 20
          min-idle: 5
  docker:
    compose:
      enabled: true

app:
  cookie:
    secure: false
