spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:postgresql://localhost:5432/qr-menu-db
    username: myuser
    password: secret
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: localhost
      port: 6379
      password:
      lettuce:
        pool:
          max-active: 50
          max-idle: 20
          min-idle: 5

  docker:
    compose:
      enabled: true

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

app:
  cookie:
    secure: false
